@model List<QuanLyDatPhongKhachSan.Models.room>
@foreach (var i in Model)
{
    <div class="col-sm col-md-6 col-lg-4 ftco-animate">
        <div class="room">
            <a href="/@ViewBag.meta/@i.meta/@i.roomID" class="img d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/@i.img1);">
                <div class="icon d-flex justify-content-center align-items-center">
                    <span class="icon-search2"></span>
                </div>
            </a>
            <div class="text p-3 text-center">
                <h3 class="mb-3"><a href="#">@i.type Room</a></h3>
                <p>
                    <span class="price mr-2">@i.price<span class="currency">$</span></span>
                    <span class="per">per night</span>
                </p>
                <ul class="list">
                    <li><span>View: </span>@i.view</li>
                    <li><span>Size: </span>@i.size</li>
                    <li><span>Bed: </span>@i.bed</li>
                    <li><span>Max: </span>@i.max</li>
                </ul>
                <hr>
                <p class="pt-1"><a href="/@ViewBag.meta/dat-phong/@i.roomID" class="btn-custom">Book Now <span class="icon-long-arrow-right"></span></a></p>
            </div>
        </div>
    </div>
}
