@model QuanLyDatPhongKhachSan.Models.review

@{
    ViewBag.Title = "Edit";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Edit", "reviews", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="container col-lg-10">
        <h4><b>Chỉnh sửa đánh giá</b></h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.reviewID)

        <div class="form-group">
            <div class="row">
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.Label("Rating", htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.rating, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rating, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.Label("Username", htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.user.username, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.user.username, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
       
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.Label("Comment", htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.comment, new { htmlAttributes = new { @class = "form-control", @required = true } })
                    @Html.ValidationMessageFor(model => model.comment, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.meta, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.meta, "", new { @class = "text-danger" })
                </div>
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.LabelFor(model => model.order, htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-4">
                    @Html.EditorFor(model => model.order, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.order, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="row">
                <div class="col-md-2 text-right align-self-center">
                    <strong>@Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label" })</strong>
                </div>
                <div class="col-md-10">
                    @{
                        bool hide = (Model.hide.GetValueOrDefault(false) ? true : false);
                    }
                    @Html.CheckBoxFor(model => hide)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="row">
                <div class="col-md-12 text-right">
                    <input type="submit" value="Save" class="btn btn-primary text-right" />
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    </div>
}


@section _Footer
{

    <script src="~/Areas/Admin/Content/ckfinder/ckfinder.js"></script>
    <script src="~/Areas/Admin/Content/ckeditor/ckeditor.js"></script>
    <script type="text/javascript">
        var editor = CKEDITOR.replace("comment");
        var editor = CKEDITOR.replace("comment", { height: '800px' });
        customConfig: '/Areas/admin/Content/ckeditor/config.js';
    </script>
    <script>
        $(function () {
            $("#name").keyup(function () {
                var text = $.trim($(this).val().toLowerCase());
                var text_create;
                text_create = text.replace(/à|á|ạ|ả|ã|â|ầ|ấ|ậ|ẩ|ẫ|ă|ằ|ắ|ặ|ẳ|ẵ/g, "a").replace(/\ /g, '-').replace(/đ/g, "d").replace(/đ/g, "d").replace(/ỳ|ý|ỵ|ỷ|ỹ/g, "y").replace(/ù|ú|ụ|ủ|ũ|ư|ừ|ứ|ự|ử|ữ/g, "u").replace(/ò|ó|ọ|ỏ|õ|ô|ồ|ố|ộ|ổ|ỗ|ơ|ờ|ớ|ợ|ở|ỡ.+/g, "o").replace(/è|é|ẹ|ẻ|ẽ|ê|ề|ế|ệ|ể|ễ.+/g, "e").replace(/ì|í|ị|ỉ|ĩ/g, "i");
                $('#meta').val(text_create);
            }).keyup();
        });
        document.addEventListener("DOMContentLoaded", function () {
            var input = document.getElementById("img");
            var label = document.getElementById("imgLabel");
            if (input.files && input.files.length > 0) {
                label.textContent = input.files[0].name;
            }
        });

        function displaySelectedImage(event) {
            var input = event.target;
            var label = document.getElementById("imgLabel");
            var imgPreview = document.getElementById("imgPreview");

            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    imgPreview.src = e.target.result;
                    label.textContent = input.files[0].name;
                };

                reader.readAsDataURL(input.files[0]);
            } else {
                imgPreview.src = "";
                label.textContent = "No file chosen";
            }
        }
        function displaySelectedFileName() {
            var input = document.getElementById('img');
            var selectedFileName = document.getElementById('selectedFileName');

            if (input.files.length > 0) {
                selectedFileName.textContent = input.files[0].name;
            } else {
                selectedFileName.textContent = "";
            }
        }
    </script>
}

