@model QuanLyDatPhongKhachSan.Models.booking

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container col-lg-10">
    <h4><b>Chi tiết đặt phòng</b></h4>
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.bookingID)

    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("User ID", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.userID)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Room ID", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.roomID)" readonly>

            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Loại phòng", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.room.type)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.LabelFor(model => model.status, htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.status)" readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Ngày bắt đầu", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.startDate)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Ngày kết thúc", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.endDate)" readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Tổng số người", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.numberOfGuest)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Tổng tiền", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.total)" readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Tên khách", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.name)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Số điện thoại", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.phone)" readonly>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Email", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.email)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Yêu cầu khác", htmlAttributes: new { @class = "control-label"})</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" placeholder="Không có" value="@Html.DisplayFor(model => model.requests)" readonly>
            </div>
        </div>
    </div>


    <div class="form-group">
        <div class="row">
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.LabelFor(model => model.meta, htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.meta)" readonly>
            </div>
            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.LabelFor(model => model.order, htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                <input type="text" class="form-control" value="@Html.DisplayFor(model => model.order)" readonly>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="row">

            <div class="col-md-2 text-right align-self-center">
                <strong>@Html.Label("Hiển thị", htmlAttributes: new { @class = "control-label" })</strong>
            </div>
            <div class="col-md-4">
                @{
                    bool hide = (Model.hide.GetValueOrDefault(false) ? true : false);
                }
                @Html.CheckBoxFor(model => hide, new { disabled = "disabled" })
            </div>
        </div>
    </div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <div class="container col-lg-10 mb-3">
                <div class="text-right">
                    <input type="submit" value="Delete" class="btn btn-danger" /> |
                    @Html.ActionLink("Back to List", "Index")
                </div>
            </div>
        </div>
    }
</div>