@model QuanLyDatPhongKhachSan.Models.booking

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container col-lg-10">
    <h4>Details</h4>
    <hr />
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.user.username)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.user.username)" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.room.type)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.room.type)" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.startDate)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.startDate)" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.endDate)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.endDate)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.numberOfGuest)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.numberOfGuest)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.total)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.total)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.status)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.status)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.name)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.name)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.phone)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.phone)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.email)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.email)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.requests)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.requests)" readonly>
        </div>
    </div>

    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.meta)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.meta)" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.hide)</strong>
        </div>
        <div class="col-md-10">
            <span class="form-control" readonly>@Html.DisplayFor(model => model.hide)</span>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.order)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.order)" readonly>
        </div>
    </div>
    <div class="row mb-3">
        <div class="col-md-2 text-right align-self-center">
            <strong>@Html.DisplayNameFor(model => model.datebegin)</strong>
        </div>
        <div class="col-md-10">
            <input type="text" class="form-control" value="@Html.DisplayFor(model => model.datebegin)" readonly>
        </div>
    </div>
</div>
<div class="container col-lg-10 mb-3">
    <div class="text-right">
        @Html.ActionLink("Edit", "Edit", new { id = Model.userID }) |
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>


