@model List<QuanLyDatPhongKhachSan.Models.room>

@{
    ViewBag.Title = "Deluxe - Rooms";
}

<title>@ViewBag.Title</title>
<style>
    option[value=""][disabled] {
        display: none;
    }
</style>
<div class="hero-wrap" style="background-image: url('../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2"><span class="mr-2"><a href="../Home/Index">Home</a></span></p>
                    <h1 class="mb-4 bread">Rooms</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-9">
                <div class="row">
                    @{Html.RenderAction("getRoom", "Default");}
                </div>
            </div>
            <div class="col-lg-3 sidebar">
                <div class="sidebar-wrap bg-light ftco-animate">
                    <h3 class="heading mb-4">Advanced Search</h3>
                    <form action="#">
                        <div class="fields">
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkin_date" placeholder="Check In Date">
                            </div>
                            <div class="form-group">
                                <input type="text" id="checkin_date" class="form-control checkout_date" placeholder="Check Out Date">
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="" disabled selected>Room Type</option>
                                        @foreach (var room in Model)
                                        {
                                            <option value="@room.type">@room.type</option>
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="" disabled selected>Max</option>
                                        @{
                                            var distinctMaxValues = Model.Select(r => r.max).Distinct();
                                            foreach (var max in distinctMaxValues)
                                            {
                                                <option value="@max">@max</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="select-wrap one-third">
                                    <div class="icon"><span class="ion-ios-arrow-down"></span></div>
                                    <select name="" id="" class="form-control">
                                        <option value="" disabled selected>View</option>
                                        @{
                                            var distinctviewValues = Model.Select(r => r.view).Distinct();
                                            foreach (var view in distinctviewValues)
                                            {
                                                <option value="@view">@view</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="range-slider">
                                    <span>
                                        <input type="number" value="25000" min="0" max="120000" />	-
                                        <input type="number" value="50000" min="0" max="120000" />
                                    </span>
                                    <input value="1000" min="0" max="120000" step="500" type="range" />
                                    <input value="50000" min="0" max="120000" step="500" type="range" />
                                    </svg>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="submit" value="Search" class="btn btn-primary py-3 px-5">
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
