@model QuanLyDatPhongKhachSan.Models.room

@{
    ViewBag.Title = "RoomDetail";
}

<title>@ViewBag.Title</title>
<div class="hero-wrap" style="background-image: url('../Content/images/bg_1.jpg');">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text d-flex align-itemd-end justify-content-center">
            <div class="col-md-9 ftco-animate text-center d-flex align-items-end justify-content-center">
                <div class="text">
                    <p class="breadcrumbs mb-2" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }"><span class="mr-2"><a href="../Home/Index">Home</a></span> <span class="mr-2"><a href="/phong-o">Room</a></span></p>
                    <h1 class="mb-4 bread">Room Detail</h1>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="ftco-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="row">
                    <div class="col-md-12 ftco-animate">
                        <h2 class="mb-4">@Model.type Room</h2>
                        <div class="single-slider owl-carousel">
                            <div class="item">
                                <div class="room-img" style="background-image: url(/Areas/Admin/Content/upload/img/room/@Model.img1);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(/Areas/Admin/Content/upload/img/room/@Model.img2);"></div>
                            </div>
                            <div class="item">
                                <div class="room-img" style="background-image: url(/Areas/Admin/Content/upload/img/room/@Model.img3);"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 room-single mt-4 mb-5 ftco-animate">
                        <div class="d-md-flex mt-5 mb-5">
                            <ul class="list">
                                <li><span>Max: </span> @Model.max</li>
                                <li><span>Size: </span>@Model.size</li>
                            </ul>
                            <ul class="list ml-md-5">
                                <li><span>View: </span>@Model.view</li>
                                <li><span>Bed: </span>@Model.bed</li>
                            </ul>
                        </div>
                        <hr>
                        <h3>Price: @Model.price $</h3>
                        <p>@Model.description</p>
                    </div>
                   
                    <div class="col-md-12 properties-single ftco-animate mb-5 mt-4">
                        <h4 class="mb-4">Review &amp; Ratings</h4>
                        <div class="row">
                            <div class="col-md-6">
                                <form method="post" class="star-rating">
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i> 100 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i> 30 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 5 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                    <div class="form-check">
                                        <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                        <label class="form-check-label" for="exampleCheck1">
                                            <p class="rate"><span><i class="icon-star"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i><i class="icon-star-o"></i> 0 Ratings</span></p>
                                        </label>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12 room-single ftco-animate mb-5 mt-5">
                        <h4 class="mb-4">Available Room</h4>
                        <div class="row">
                            <div class="col-sm col-md-6 ftco-animate">
                                <div class="room">
                                    <a href="../Home/Rooms" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/room-1.jpg);">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3 text-center">
                                        <h3 class="mb-3"><a href="../Home/Rooms">Suite Room</a></h3>
                                        <p><span class="price mr-2">$120.00</span> <span class="per">per night</span></p>
                                        <hr>
                                        <p class="pt-1"><a href="../Room/RoomDetail" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm col-md-6 ftco-animate">
                                <div class="room">
                                    <a href="../Home/Rooms" class="img img-2 d-flex justify-content-center align-items-center" style="background-image: url(../Content/images/room-2.jpg);">
                                        <div class="icon d-flex justify-content-center align-items-center">
                                            <span class="icon-search2"></span>
                                        </div>
                                    </a>
                                    <div class="text p-3 text-center">
                                        <h3 class="mb-3"><a href="../Home/Rooms">Family Room</a></h3>
                                        <p><span class="price mr-2">$20.00</span> <span class="per">per night</span></p>
                                        <hr>
                                        <p class="pt-1"><a href="../Room/RoomDetail" class="btn-custom">View Room Details <span class="icon-long-arrow-right"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div> <!-- .col-md-8 -->
        </div>
</section> <!-- .section -->


<section class="instagram pt-5">
    <div class="container-fluid">
        <div class="row no-gutters justify-content-center pb-5">
            <div class="col-md-7 text-center heading-section ftco-animate">
                <h2><span>Instagram</span></h2>
            </div>
        </div>
        <div class="row no-gutters">
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../Content/images/insta-1.jpg" class="insta-img image-popup" style="background-image: url(../Content/images/insta-1.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../Content/images/insta-2.jpg" class="insta-img image-popup" style="background-image: url(../Content/images/insta-2.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../Content/images/insta-3.jpg" class="insta-img image-popup" style="background-image: url(../Content/images/insta-3.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../Content/images/insta-4.jpg" class="insta-img image-popup" style="background-image: url(../Content/images/insta-4.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
            <div class="col-sm-12 col-md ftco-animate">
                <a href="../Content/images/insta-5.jpg" class="insta-img image-popup" style="background-image: url(../Content/images/insta-5.jpg);">
                    <div class="icon d-flex justify-content-center">
                        <span class="icon-instagram align-self-center"></span>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
